@model MarineMexico.Models.ViewModels.InventarioViewModel

@{
    ViewData["Title"] = "Añadir artículo al inventario";
}

<h1 class="subtitle has-text-weight-normal">@ViewData["Title"]</h1>

<div class="columns">
    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="has-text-danger"></div>
            <div class="field">
                <label class="label">Artículo</label>
                <div class="control">
                    <div class="select">
                        <select asp-for="ArticuloId" asp-items="ViewBag.ArticuloId"></select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Talla</label>
                <div class="control">
                    <div class="select">
                        <select asp-for="TallaId" asp-items="ViewBag.TallaId"></select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label asp-for="StockMinimo" class="label">Stock mínimo</label>
                <div class="control">
                    <input asp-for="StockMinimo" class="input" />
                    <span asp-validation-for="StockMinimo" class="text-danger"></span>
                </div>
            </div>
            <div class="field mt-5">
                <input type="submit" value="Añadir" class="button" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar al inventario</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
