@model MarineMexico.Models.Inventario

@{
    ViewData["Title"] = "Eliminar inventario";
}

<h1 class="title has-text-weight-normal">@ViewData["Title"]</h1>

<h3>¿Estás seguro de que deseas eliminar esto?</h3>
<h4 class="is-danger">
    <div class="icon">
        <i class="fa-solid fa-circle-exclamation"></i>
    </div>
    Se eliminará el inventario y sus movimientos
</h4>

<div>
    <hr />

    <div class="field">
        <label class="label">Artículo</label>
        <p>@Model.Articulo.Nombre</p>
    </div>
    <div class="field">
        <label class="label">Talla</label>
        <p>@Model.Talla.Descripcion</p>
    </div>
    <div class="field">
        <label class="label">Stock Actual</label>
        <p>@Model.StockActual</p>
    </div>

    <div class="buttons mt-5">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="button is-danger mr-3" />
            <a asp-action="Index" class="button is-light">Volver a la lista</a>
        </form>
    </div>
    
</div>
