@model MarineMexico.Models.MovimientosInventario

@{
    ViewData["Title"] = "Crear movimiento de inventario";
}

<h1 class="subtitle has-text-weight-normal">@ViewData["Title"]</h1>

<div class="columns">
    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="field">
                <label class="label">Inventario</label>
                <div class="control">
                    <div class="select">
                        <select asp-for="InventarioId" asp-items="ViewBag.InventarioId"></select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Tipo Movimiento</label>
                <div class="control">
                    <div class="select">
                        <select asp-for="TipoMovimientoId" asp-items="ViewBag.TipoMovimientoId"></select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Empleado</label>
                <div class="control">
                    <div class="select">
                        <select asp-for="EmpleadoId" asp-items="ViewBag.EmpleadoId"></select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Motivo</label>
                <div class="control">
                    <div class="select">
                        <select asp-for="MotivoMovimientoId" asp-items="ViewBag.MotivoMovimientoId"></select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label asp-for="Cantidad" class="label"></label>
                <div class="control">
                    <input asp-for="Cantidad" class="input" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
